# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency folders
node_modules/


# dotenv
.env


# Firebase credentials
*.serviceAccountKey.json
firebase/firebase-admin.json

# OS-specific
.DS_Store
Thumbs.db

# Windows batch shortcut (personal)
todo.cmd
